On Dependencies...

> On " Many other documents make use of NTP's data formats ([RFC5905] Section 6) for representing time, notably for media and packet timestamp measurements.": It's not clear what those "other" (non-NTP?) documents are, and how they would be affected when the NTP timestamp format would change.

I talked about this at IETF 112, maybe referring to some of these specs is an idea? I would say YANG, DHCP are out, however the realtime media and benchmarking may be appropriate.

Slightly connected to #26 as well, as changing the timescales, epoch etc have a knock-on effect...