Impacts on dependant standards

As one example, SDP ([RFC 8866](https://www.rfc-editor.org/rfc/rfc8866.html)) uses "NTP" time or rather, NTP's epoch with second resolution to represent timestamps. 

Presuming we have a timescale with a new epoch, considerations for it as well as other protocols which clearly depend on implementations calculating those values must be taken into account.

I've spent a fair bit of time looking at many RFCs I can find which refers to 5905. Many refer to it in informative contexts, such as suggesting how a deployment could have time synchronisations, particularly when "bootstrapping", likely because of a dependency with PKI systems (e.g. knowing current UTC to determine if certificates are in their `notBefore` and `notAfter` windows). However several other themes of references have been found:

## Dependency on timestamp format and epoch
*  [RFC 9034](https://datatracker.ietf.org/doc/html/rfc9034) - Packet Delivery Deadline Time in the Routing Header for IPv6... 
*  [RFC 8877](https://datatracker.ietf.org/doc/html/rfc8877) - Guidelines for Defining Packet Timestamps
*  [RFC 8762](https://datatracker.ietf.org/doc/html/rfc8762) - Simple Two-Way Active Measurement Protocol
*  [RFC 8592](https://datatracker.ietf.org/doc/html/rfc8592) - Key Performance Indicator (KPI) Stamping for the Network Service Header (NSH)
* A numerous number of RTP related documents, including SDP, RTCP, RTSP etc.

I think I can conclude from this that there are significant decisions for the working group to make regarding any changes to how timestamps are represented, and which epoch are used as these may add complexity to other systems interdependent on it. What I've added to the document specifies keeping the status quo, unless it's at contradiction to other requirements.

## Yang and related metadata
*  [RFC 8532](https://datatracker.ietf.org/doc/html/rfc8532) - Connectionless OAM YANG Data Model, which is part of the YANG eco  system and referenced by [draft-ietf-ntp-yang-data-model](https://datatracker.ietf.org/doc/draft-ietf-ntp-yang-data-model/)
*  [RFC 8520](https://datatracker.ietf.org/doc/html/rfc8520) - Manufacturer Usage Description, which defines a URN scheme that defines NTP and DNS. Whilst there isn't really anything to consider for the NTP WG here, the listed experts on the [IANA registry](https://www.iana.org/assignments/mud/mud.xhtml) might want to consider if they will distinguish between NTPv5 or v4.

## Discovery
This includes documents like [RFC 5908](https://datatracker.ietf.org/doc/html/rfc5908) which covers the DHCPv6 option.

There is likely considerations the working group would have to make regarding backwards compatibility, and if it's not feasible having to allocate new DHCPv4/v6 and v6 RA announcements.


Going to close this, noting that the data model will be defined in the issue above. As for discovery, this brings in questions about how to engage with the working group about document structure, which is now in part set by the milestones agreed in last charter. My initial idea would be:

* Requirements document, to set the theme of things
* Core protocol spec, which defines wire spec, data model, and client/server behaviour
* A reference set of algorithms for synchronisation, separate for modularity
* Discovery, just defining DHCPv4/6/IPv6RA options.
... and optionally, later on ...
* A BCP that takes in considerations on deploying NTPv5, or NTS.